<div>
  <table class="table table-dark table-hover" style="overflow:scroll;">
    <thead>
      <tr>
        <td>ID</td>
        <td>Category</td>
        <td>Name</td>
        <td>Price</td>
        <td>Available?</td>
        <td>Edit</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of products$ | async">
        <td>{{ x.productID }}</td>
        <td>{{ x.categoryName }}</td>
        <td>{{ x.title }}</td>
        <td>{{ x.price }}</td>
        <td>{{ x.isAvailable }}</td>
        <td><button class="btn btn-primary" [routerLink]="getEdit(x.title)">Edit</button></td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>


