<div class="container-fluid">
  <table class="table table-dark table-hover" style="overflow:scroll;">
    <thead>
      <tr>
        <td>Customer</td>
        <td>Delivery</td>
        <td>Additional Request</td>
        <td>Delivery Location</td>
        <td>Delivered?</td>
        <td>Order date</td>
        <td>Detail</td>
        <td>Order completed?</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of orders">
        <td>{{ x.customer }}</td>
        <td>{{ x.isDelivery }}</td>
        <td>{{ x.additionalInfo }}</td>
        <td>{{ x.deliveryLocation }}</td>
        <td>{{ x.isFulfilled }}</td>
        <td>{{ trimDate(x.dateOrdered) }}</td>
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">View details</button></td>
        <td><button class="btn btn-secondary">Finish</button></td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
