<div>
  <table class="table table-dark table-hover" style="overflow:scroll;">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Address</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of users$ | async">
        <td>{{ x.customerID }}</td>
        <td>{{ x.firstName + ' ' + x.lastName }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.phone }}</td>
        <td>{{ x.address }}</td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>


